html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --card-height: 200px;
}

.card {
  margin: 2em auto;
  width: calc(2 / 3 * var(--card-height));
  height: var(--card-height);
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;

  color: red;

  display: grid;
  grid-template-columns: 10% 80% 10%;
  place-items: center;

  text-align: center;
}

.left {
  align-self: start;
  font-weight: 600;
}

.middle {
  font-size: 2.8em;
  font-weight: 600;

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 12px;
}

.middle div:nth-last-child(1),
.middle div:nth-last-child(2) {
  transform: rotate(180deg);
}

.right {
  align-self: end;
  transform: rotate(180deg);
  font-weight: 600;
}
