body,
html {
  margin: 0;
}

:root {
  --spinner: #f3f3f3;
  --spinner-active: purple;
}

.container {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2em solid var(--spinner);

  border-top: 2em solid var(--spinner-active);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
