html, body {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #0269A6;
    --yellow: #FECC00;
    --flag-height: 300px;
}

body {
  height: 100svh;
  display: grid;
  place-content: center;
}

.flag {
  height: var(--flag-height);
}

.flag-sweden {
  background: var(--blue);
  aspect-ratio: 8/5;
  display: grid;
  grid-template-columns: 5fr 2fr 9fr;
  grid-template-rows: 4fr 2fr 4fr;
}

.stripe {
  background: var(--yellow);
}

.stripe-yellow {
  grid-column: 1 / 4;
  grid-row: 2;
}

.stripe-yellow2 {
  grid-column: 2;
  grid-row: 1 / 4;
}
